.task-info
  = form_with model: [@group, @task], html: {class: "Form"}, local: true do |form|
    %p ã‚¿ã‚¹ã‚¯å…¥åŠ›
    = form.text_field :task, placeholder: "ã‚¿ã‚¹ã‚¯å†…å®¹", class: 'form-text'
    = form.text_area :detalis, placeholder: "ç· ã‚åˆ‡ã‚Šæ—¥/æ¦‚è¦", class: 'textarea', class: 'form-detalis'
    = form.submit "ã‚¿ã‚¹ã‚¯è¿½åŠ ", class: 'form-submit'

.task-content
  .task-name
    %p ã‚¿ã‚¹ã‚¯ä¸€è¦§
      %input{:type => "date"}
    - @tasks.each do |task|
      .content{data: {task: {id: task.id}}}
        .content-main
          .content-name
            æ‹…å½“è€…:
            = link_to task.user.name, user_path(task.user.id)
          .content-task
            ã‚¿ã‚¹ã‚¯:
            =task.task
          .content-edit
            = link_to 'ç·¨é›†âœï¸', edit_task_path(task.id), class: 'edit', method: :get
            = link_to 'å‰Šé™¤ðŸ—‘', task_path(task.id), class: 'delete', method: :delete
        .content-detalis
          = simple_format(h(task.detalis))
        .content-option
          %input.complete{:type => "button", :value => "âœ”ï¸Ž"}
  

.task-complete
  %p å®Œäº†ã‚¿ã‚¹ã‚¯